.novel-genres {
    border          : 2px solid #d9e1e4;
    background-color: #ecf0f1;

    .novel-genres-title {
        border-bottom: 4px solid #e7e7e7;
    }

    .genre-list {
        padding: 10px 0;

        .genre-item {
            padding-left: 10px;
            font-size   : 17px;
        }

        .genre-item:hover {
            cursor          : pointer;
            background-color: #d2d2d2;
        }
    }
}