.home-header {
    background-color: #14425d;

    .navbar {
        padding: 2px;

        .navbar-brand {
            padding: 0;
        }

        .navbar-nav {
            width: 100%;

            .left-menu {
                .dropdown {
                    .dropdown-toggle {
                        background-color: #14425d;
                        border          : none;
                        border-radius   : 0%;
                        margin          : 0;
                    }

                    .dropdown-hover {
                        padding: 14px;
                    }

                    .dropdown-hover:hover,
                    .dropdown-hover:active {
                        background-color: #31708f;
                    }

                    .dropdown-menu {
                        margin-top             : 0px;
                        margin-left            : -0.05rem;
                        background-color       : #31708f;
                        border-top-left-radius : 0%;
                        border-top-right-radius: 0%;
                        width                  : 600px;
                        padding                : 10px;

                        .genre-list {
                            .genre-item {
                                font-size: 17px;
                            }

                            .genre-item:hover {
                                background-color: #14425d
                            }
                        }
                    }
                }
            }

            .right-menu {

                .login-btn,
                .register-btn {
                    padding: 14px 9px 14px 9px;
                }

                .login-btn:hover,
                .register-btn:hover {
                    background-color: #31708f;
                }
            }
        }
    }
}

.header-introduction {
    white-space     : nowrap;
    background-color: #fff !important;
    height          : 30px;
    overflow        : hidden;
    text-overflow   : ellipsis;
}