.home-header {
    background-color: #14425d;

    .navbar {
        padding: 2px;

        .navbar-brand {
            padding: 0;
        }

        .navbar-nav {
            width: 100%;

            .left-menu {
                .dropdown {
                    .dropdown-toggle {
                        background-color: #14425d;
                        border: none;
                        border-radius: 0%;
                        margin: 0;
                    }

                    .dropdown-hover {
                        padding: 14px;
                    }

                    .dropdown-hover:hover,
                    .dropdown-hover:active {
                        background-color: #31708f;
                    }

                    .dropdown-menu {
                        margin-top: 0px;
                        margin-left: -0.05rem;
                        background-color: #31708f;
                        border-top-left-radius: 0%;
                        border-top-right-radius: 0%;
                        width: 600px;
                        padding: 10px;

                        .genre-list {
                            .genre-item {
                                font-size: 17px;
                            }

                            .genre-item:hover {
                                background-color: #14425d
                            }
                        }
                    }
                }
            }

            .right-menu {

                .select__menu-list::-webkit-scrollbar {
                    display: none;
                }

                .login-btn,
                .register-btn {
                    button {
                        padding: 14px 9px 14px 9px;

                        padding: 14px 9px 14px 9px;

                        background-color: #14425d;
                        border: none;
                    }

                }

                .checkout-btn {
                    button {
                        padding: 10px 9px 10px 9px;
                        background-color: #4ba0d1;
                        border: none;
                    }

                }

            }
        }
    }
}

.header-introduction {
    white-space: nowrap;
    background-color: #fff !important;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 992px) {

    .login-btn,
    .register-btn,
    .checkout-btn {
        .register-btn {
            button:hover {
                background-color: #31708f !important;
            }
        }
    }
}