.genre-body {
    background-color: #e0e0e0;

    .left-content {
        .genre-name {
            border-bottom: 1px solid;
        }
    }

    .right-content {
        .genre-introduction {
            padding         : 10px;
            background-color: #ecf0f1;
            font-size       : 18px;
        }
    }
}