.novel-list {
    .novel {
        border-bottom: 1px dashed #ccc;

        .novel-image {
            img {
                width : 170px;
                height: 250px;
            }
        }

        .novel-general {
            .novel-name {
                font-size: 20px;
            }

            .novel-author {
                font-size: 18px;
            }

            .novel-introduction {
                overflow: hidden;

                p {
                    margin-bottom: 0 !important;
                }
            }

            .novel-newest-chapter {
                font-size: 18px;

                .chapter-link {
                    color: #31708f;
                }

                .chapter-link:hover {
                    text-decoration: underline;
                    cursor         : pointer;
                }
            }

            .novel-name:hover,
            .novel-author:hover {
                text-decoration: underline !important;
                cursor         : pointer;
            }
        }
    }
}

@media screen and (max-width: 577px) {
    .novel-list {
        .novel {
            .novel-image {
                img {
                    width : 140px !important;
                    height: 190px !important;
                }
            }

            .novel-general {
                .novel-name {
                    font-size: 16px !important;
                }

                .novel-author {
                    font-size: 14px !important;
                }
            }

            .novel-newest-chapter {
                font-size: 18px;

                .chapter-link {
                    color: #31708f;
                }

                .chapter-link:hover {
                    text-decoration: underline;
                    cursor         : pointer;
                }
            }
        }
    }

}